html {
  font-size: 16px;
}

body {
  background-color: #dadada;
  font-family: Open-Sans, sans-serif;
}

header {
  background-color:#2f2f2f;

  color:white;
}

nav {
  align-items: flex-start;
  align-items:center;
  display:flex;
  justify-content: space-between;
}

h1 {
  color: #686666;
  font-size: 1.7rem;
  height:30px;
  margin:auto;
  padding-bottom:0;
  padding:3%;
}

h2 {
  font-size: 1.6rem;
  margin:.25em;
}

h3 {
  font-size: 1rem;
  margin-top: .25rem;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: .7rem;
}

p,
figure {
  font-size: .75rem;
  margin-top: .25rem;
}

article {
  background-color:white;
  border: 1px solid gray;
}

figure {
  background-color:#dadada;
  margin:2%;
  overflow-wrap: break-word;
  padding: 6px;
}

main {
  color:#686666;
  display: grid;
  grid-gap:8px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin:2%;
}

a,
i {
  color:#8dbafc;
  font-size:.8rem;
  text-decoration: none;
}

figure:hover {
  color: #8ca6d1;
  cursor: pointer;
}

a:hover,
.flip-button {
  cursor: pointer;
}

.flip-button:hover {
  background-color: #8ca6d1;
}

.dropdown {
  text-align:right;
  padding: 1% 3% 1% 3%;
}

.logo-md {
  font-size:1em;
}

.flip-button {
  background-color:white;
  background-image: url('arrow.svg');
  background-size: cover;
  border-radius:50%;
  height: 40px;
  width:40px;
}

.card-top {
  background-image: url('pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.background-container {
  background:rgba(0,0,0,0.4);
  display:flex;
  flex-direction: row-reverse;
  height:100px;
  justify-content: space-between;
  padding:3%;
}

.card-top * {
  color:white;
}

.view-count{ 
  text-align:center;
}

.info div {
  margin: 15px 8px 15px 8px;
}

.info {
  padding:3%;
}

.nav {
  font-family: 'Lato', sans-serif;
  margin: 1% 3% auto 4%;
  text-transform: uppercase;
}

.nav-logo {
  bottom: 4px;
  color:#8dbafc;
  display:inline-block;
  height:50px;
  position:relative;
}

.logo {
  color:#ccd5e2;
  display:flex;
  font-size:2.8rem;
  margin:1% 1% 1% 1%;
}

.icon-sm {
  color:#4f8ff7;
  margin:10px;
}

.active {
  color:#ccd5e2;
}

.personal-videos,
.playlists {
  color:#919aaa;
}

.page-links {
  width: 100%;
  margin:4px;
}

.page-links * {
  display: inline-block;
  font-size: .9rem;
}

.page-links a {
  font-weight: 300;
}

.attachment-count {
  color:#8dbafc;
}


@media screen and (max-width: 375px) {
  .logo {
    display: block;
  }

  .nav-logo {
    left: 15%;
  }
}

@media screen and (min-width: 1065px) {
  html {
    font-size: 18px;
  }

  main {
    display:flex;
    flex-wrap: wrap; 
  }

  article {
    width:24%;
    margin:4px auto 4px auto;
  }
}

@media screen and (min-width: 1300px) {
  html {
    font-size: 20px;
  }

  body {
    margin:auto;
    max-width: 1700px;
  }

  article {
    height:40vh;
  }
}
